In [111]:
import pandas as pd
import time
from datetime import datetime
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, LongType, DoubleType, FloatType
from pyspark.sql.functions import lit, udf, col, to_timestamp, to_date, desc, monotonically_increasing_id
import glob

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

In [3]:
my_schema= StructType([ StructField("created_at", StringType(), True)\
                       ,StructField("tweet_id", DoubleType(), False)\
                       ,StructField("tweet", StringType(), True)\
                       ,StructField("likes", FloatType(), True)\
                       ,StructField("retweet_count", FloatType(), True)\
                       ,StructField("source", StringType(), True)\
                       ,StructField("user_id", DoubleType(), True)\
                       ,StructField("user_name", StringType(), True)\
                       ,StructField("user_screen_name", StringType(), True)\
                       ,StructField("user_description", StringType(), True)\
                       ,StructField("user_join_date", StringType(), True)\
                       ,StructField("user_followers_count", DoubleType(), True)\
                       ,StructField("user_location", StringType(), True)\
                       ,StructField("lat", FloatType(), True)\
                       ,StructField("long", FloatType(), True)\
                       ,StructField("city", StringType(), True)\
                       ,StructField("country", StringType(), True)\
                       ,StructField("continent", StringType(), True)\
                       ,StructField("state", StringType(), True)\
                       ,StructField("state_code", StringType(), True)\
                      ])

In [4]:
file_path_trump= 'Twitter_Data/hashtag_donaldtrump.csv'
df_trump= spark.read.format("csv").option("header", True).option('delimiter', ",").schema(my_schema).option('multiLine', True).load(file_path_trump)

In [5]:
df_trump= df_trump.withColumn("hashtag_type",lit("Trump"))
df_trump.printSchema()

root
 |-- created_at: string (nullable = true)
 |-- tweet_id: double (nullable = true)
 |-- tweet: string (nullable = true)
 |-- likes: float (nullable = true)
 |-- retweet_count: float (nullable = true)
 |-- source: string (nullable = true)
 |-- user_id: double (nullable = true)
 |-- user_name: string (nullable = true)
 |-- user_screen_name: string (nullable = true)
 |-- user_description: string (nullable = true)
 |-- user_join_date: string (nullable = true)
 |-- user_followers_count: double (nullable = true)
 |-- user_location: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- long: float (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- state: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- hashtag_type: string (nullable = false)

In [8]:
df_trump= df_trump.na.drop(subset=['tweet_id','user_id'])

In [11]:
df_trump.count()
df_trump.limit(10).toPandas()

931760

In [12]:
file_path_biden= 'Twitter_Data/hashtag_joebiden.csv'
df_biden= spark.read.format("csv").option("header", True).option('delimiter', ",").schema(my_schema).option('multiLine', True).load(file_path_biden)

In [13]:
df_biden= df_biden.withColumn("hashtag_type",lit("Biden"))
df_biden.printSchema()

root
 |-- created_at: string (nullable = true)
 |-- tweet_id: double (nullable = true)
 |-- tweet: string (nullable = true)
 |-- likes: float (nullable = true)
 |-- retweet_count: float (nullable = true)
 |-- source: string (nullable = true)
 |-- user_id: double (nullable = true)
 |-- user_name: string (nullable = true)
 |-- user_screen_name: string (nullable = true)
 |-- user_description: string (nullable = true)
 |-- user_join_date: string (nullable = true)
 |-- user_followers_count: double (nullable = true)
 |-- user_location: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- long: float (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- state: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- hashtag_type: string (nullable = false)

In [14]:
df_biden= df_biden.na.drop(subset=['tweet_id','user_id'])

In [15]:
df_biden.count()

750980

In [16]:
df_biden.limit(10).toPandas()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,hashtag_type
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.774269,-80.193657,None,United States of America,North America,Florida,FL,Biden
1,2020-10-15 00:00:18,1.316529e+18,#HunterBiden #HunterBidenEmails #JoeBiden #Joe...,0.0,0.0,Twitter for iPad,8.099044e+08,Cheri A. üá∫üá∏,Biloximeemaw,"Locked and loaded Meemaw. Love God, my family ...",...,6628.0,None,NaN,NaN,None,None,None,None,None,Biden
2,2020-10-15 00:00:20,1.316529e+18,@IslandGirlPRV @BradBeauregardJ @MeidasTouch T...,0.0,0.0,Twitter Web App,3.494182e+09,Flag Waver,Flag_Wavers,None,...,1536.0,Golden Valley Arizona,46.304035,-109.171432,None,United States of America,North America,Montana,MT,Biden
3,2020-10-15 00:00:21,1.316529e+18,@chrislongview Watching and setting dvr. Let‚Äôs...,0.0,0.0,Twitter for iPhone,8.242596e+17,Michelle Ferg,MichelleFerg4,None,...,27.0,None,NaN,NaN,None,None,None,None,None,Biden
4,2020-10-15 00:00:22,1.316529e+18,#censorship #HunterBiden #Biden #BidenEmails #...,1.0,0.0,Twitter Web App,1.032807e+18,the Gold State,theegoldstate,A Silicon Valley #independent #News #Media #St...,...,390.0,"California, USA",36.701462,-118.755997,None,United States of America,North America,California,CA,Biden
5,2020-10-15 00:00:25,1.316529e+18,"In 2020, #NYPost is being #censorship #CENSORE...",0.0,0.0,Twitter for iPhone,1.994033e+07,Change Illinois | Biden will increase taxes by...,changeillinois,"Illinois, home of Lincoln and Reagan, used to ...",...,1397.0,"Chicago, Illinois",41.875561,-87.624420,Chicago,United States of America,North America,Illinois,IL,Biden
6,2020-10-15 00:00:31,1.316529e+18,‚ñ∫‚ñ∫ Tell Politicians to STICK IT with this FREE...,0.0,0.0,Freebie-Depot,1.030832e+08,üÜì Freebie Depot,FreebieDepot,Free Stuff - No Fluff! Get all kinds of FREE ...,...,6402.0,USA - Land of the FREE!,NaN,NaN,None,None,None,None,None,Biden
7,2020-10-15 00:00:36,1.316529e+18,#Biden https://t.co/qMs0PmUev5,0.0,0.0,Twitter Web App,1.272568e+18,Kenneth,Kennethuteliv,None,...,103.0,None,NaN,NaN,None,None,None,None,None,Biden
8,2020-10-15 00:00:41,1.316529e+18,Proof Bidens are crooked. Twitter will suspen...,1.0,1.0,Twitter for Android,1.275659e+18,Jake Rivendale,JakeRivendale,None,...,80.0,None,NaN,NaN,None,None,None,None,None,Biden
9,2020-10-15 00:00:44,1.316529e+18,Now Open! Create a FREE U.S. Election Pick'em ...,0.0,0.0,Hootsuite Inc.,2.193205e+07,OfficePools.com,officepools_com,Visit https://t.co/CdmWfqRMIS to play now! #fa...,...,967.0,None,NaN,NaN,None,None,None,None,None,Biden

In [157]:
df_tweets= df_biden.union(df_trump)

In [160]:
df_tweets.count()

1682732

In [159]:
df_tweets= df_tweets.withColumn("tweet_staging_time", to_timestamp(col('created_at'), "yyyy-MM-dd HH:mm:ss"))
df_tweets= df_tweets.na.drop(subset=['tweet_staging_time'])

In [136]:
df_tweets.printSchema()
df_tweets.limit(10).toPandas()

root
 |-- created_at: string (nullable = true)
 |-- tweet_id: double (nullable = true)
 |-- tweet: string (nullable = true)
 |-- likes: float (nullable = true)
 |-- retweet_count: float (nullable = true)
 |-- source: string (nullable = true)
 |-- user_id: double (nullable = true)
 |-- user_name: string (nullable = true)
 |-- user_screen_name: string (nullable = true)
 |-- user_description: string (nullable = true)
 |-- user_join_date: string (nullable = true)
 |-- user_followers_count: double (nullable = true)
 |-- user_location: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- long: float (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- state: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- hashtag_type: string (nullable = false)
 |-- tweet_staging_time: timestamp (nullable = true)

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_location,lat,long,city,country,continent,state,state_code,hashtag_type,tweet_staging_time
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,"Philadelphia, PA / Miami, FL",25.774269,-80.193657,None,United States of America,North America,Florida,FL,Biden,2020-10-15 00:00:01
1,2020-10-15 00:00:18,1.316529e+18,#HunterBiden #HunterBidenEmails #JoeBiden #Joe...,0.0,0.0,Twitter for iPad,8.099044e+08,Cheri A. üá∫üá∏,Biloximeemaw,"Locked and loaded Meemaw. Love God, my family ...",...,None,NaN,NaN,None,None,None,None,None,Biden,2020-10-15 00:00:18
2,2020-10-15 00:00:20,1.316529e+18,@IslandGirlPRV @BradBeauregardJ @MeidasTouch T...,0.0,0.0,Twitter Web App,3.494182e+09,Flag Waver,Flag_Wavers,None,...,Golden Valley Arizona,46.304035,-109.171432,None,United States of America,North America,Montana,MT,Biden,2020-10-15 00:00:20
3,2020-10-15 00:00:21,1.316529e+18,@chrislongview Watching and setting dvr. Let‚Äôs...,0.0,0.0,Twitter for iPhone,8.242596e+17,Michelle Ferg,MichelleFerg4,None,...,None,NaN,NaN,None,None,None,None,None,Biden,2020-10-15 00:00:21
4,2020-10-15 00:00:22,1.316529e+18,#censorship #HunterBiden #Biden #BidenEmails #...,1.0,0.0,Twitter Web App,1.032807e+18,the Gold State,theegoldstate,A Silicon Valley #independent #News #Media #St...,...,"California, USA",36.701462,-118.755997,None,United States of America,North America,California,CA,Biden,2020-10-15 00:00:22
5,2020-10-15 00:00:25,1.316529e+18,"In 2020, #NYPost is being #censorship #CENSORE...",0.0,0.0,Twitter for iPhone,1.994033e+07,Change Illinois | Biden will increase taxes by...,changeillinois,"Illinois, home of Lincoln and Reagan, used to ...",...,"Chicago, Illinois",41.875561,-87.624420,Chicago,United States of America,North America,Illinois,IL,Biden,2020-10-15 00:00:25
6,2020-10-15 00:00:31,1.316529e+18,‚ñ∫‚ñ∫ Tell Politicians to STICK IT with this FREE...,0.0,0.0,Freebie-Depot,1.030832e+08,üÜì Freebie Depot,FreebieDepot,Free Stuff - No Fluff! Get all kinds of FREE ...,...,USA - Land of the FREE!,NaN,NaN,None,None,None,None,None,Biden,2020-10-15 00:00:31
7,2020-10-15 00:00:36,1.316529e+18,#Biden https://t.co/qMs0PmUev5,0.0,0.0,Twitter Web App,1.272568e+18,Kenneth,Kennethuteliv,None,...,None,NaN,NaN,None,None,None,None,None,Biden,2020-10-15 00:00:36
8,2020-10-15 00:00:41,1.316529e+18,Proof Bidens are crooked. Twitter will suspen...,1.0,1.0,Twitter for Android,1.275659e+18,Jake Rivendale,JakeRivendale,None,...,None,NaN,NaN,None,None,None,None,None,Biden,2020-10-15 00:00:41
9,2020-10-15 00:00:44,1.316529e+18,Now Open! Create a FREE U.S. Election Pick'em ...,0.0,0.0,Hootsuite Inc.,2.193205e+07,OfficePools.com,officepools_com,Visit https://t.co/CdmWfqRMIS to play now! #fa...,...,None,NaN,NaN,None,None,None,None,None,Biden,2020-10-15 00:00:44

In [55]:
#df_tweets.select("*").where(col("created_at").isNull()).toPandas()

Empty DataFrame
Columns: [created_at, tweet_id, tweet, likes, retweet_count, source, user_id, user_name, user_screen_name, user_description, user_join_date, user_followers_count, user_location, lat, long, city, country, continent, state, state_code, hashtag_type]
Index: []

[0 rows x 21 columns]

In [161]:
df_users= df_tweets.select(["user_id","user_name","user_screen_name","user_description","user_followers_count"]).dropDuplicates()

In [162]:
df_users.printSchema()
df_users.count()

root
 |-- user_id: double (nullable = true)
 |-- user_name: string (nullable = true)
 |-- user_screen_name: string (nullable = true)
 |-- user_description: string (nullable = true)
 |-- user_followers_count: double (nullable = true)

701556

In [24]:
#df_users.select("*").where(col("user_id").isNull()).toPandas()

Empty DataFrame
Columns: [user_id, user_name, user_screen_name, user_description, user_followers_count]
Index: []

In [163]:
df_twitter= df_tweets.select(["tweet_id","tweet","likes","retweet_count","source"]).dropDuplicates()

In [26]:
df_twitter.printSchema()
df_twitter.count()

root
 |-- tweet_id: double (nullable = true)
 |-- tweet: string (nullable = true)
 |-- likes: float (nullable = true)
 |-- retweet_count: float (nullable = true)
 |-- source: string (nullable = true)

1464556

In [27]:
#df_twitter.select("*").where(col("tweet_id").isNull()).toPandas()

Empty DataFrame
Columns: [tweet_id, tweet, likes, retweet_count, source]
Index: []

In [164]:
df_time= df_tweets.select(["created_at"])

In [165]:
#df_time.select("*").where(col("created_at").isNull()).toPandas()

Empty DataFrame
Columns: [created_at]
Index: []

In [166]:
df_time.printSchema()

root
 |-- created_at: string (nullable = true)

In [167]:
df_time= df_time.withColumn("tweet_time", to_timestamp(col('created_at'), "yyyy-MM-dd HH:mm:ss"))
df_time= df_time.withColumn("Date",to_date(col('tweet_time')))

In [168]:
df_time= df_time.selectExpr(['tweet_time as tweet_time',
                            'hour(Date) as hour',
                            'dayofmonth(Date) as day',
                            'weekofyear(Date) as week',
                            'month(Date) as month',
                            'dayofweek(Date) as weekday',
                            ])

In [169]:
df_time.printSchema()

root
 |-- tweet_time: timestamp (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- weekday: integer (nullable = true)

In [170]:
df_time= df_time.na.drop(subset=['tweet_time'])

In [71]:
#df_time.select("*").where(col("tweet_time").isNull()).toPandas()

Empty DataFrame
Columns: [tweet_time, hour, day, week, month, weekday, tweet_id]
Index: []

In [72]:
#df_time.groupBy('week').count().limit(5).toPandas()

   week    count
0    44   261167
1    43   279973
2    45  1015119
3    42   126473

In [171]:
df_location= df_tweets.select(['user_location','lat','long','country','state'])
df_location= df_location.na.drop(subset=['user_location','state'])

In [172]:
df_location.printSchema()

root
 |-- user_location: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- long: float (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)

In [92]:
df_location.limit(10).toPandas()

,user_location,lat,long,country,state
0,"Philadelphia, PA / Miami, FL",25.774269,-80.193657,United States of America,Florida
1,Golden Valley Arizona,46.304035,-109.171432,United States of America,Montana
2,"California, USA",36.701462,-118.755997,United States of America,California
3,"Chicago, Illinois",41.875561,-87.624420,United States of America,Illinois
4,"Tampa, Florida",27.947760,-82.458443,United States of America,Florida
5,"Champaign, IL",40.116421,-88.243385,United States of America,Illinois
6,"Hollywood, FL",34.098003,-118.329521,United States of America,California
7,"Los Angeles, CA",34.053692,-118.242767,United States of America,California
8,"Florida, USA",27.756767,-81.463982,United States of America,Florida
9,"Hemet, California",33.747520,-116.971970,United States of America,California

In [87]:
#df_tweets.where(col('country')=="United States of America").groupBy('state').count().orderBy(col('count').desc()).toPandas()

                       state  count
0                 California  53987
1                   New York  41902
2                      Texas  28769
3                    Florida  28403
4       District of Columbia  15819
5               Pennsylvania  11765
6                   Illinois  11651
7                 New Jersey   8586
8              Massachusetts   8110
9                       Ohio   8047
10            North Carolina   6204
11                  Colorado   6100
12                   Georgia   5866
13                   Arizona   5842
14                  Michigan   5750
15                    Oregon   4945
16                Washington   4529
17                  Virginia   4430
18                    Nevada   4372
19                 Tennessee   4072
20                  Maryland   4019
21                  Missouri   3960
22                 Minnesota   3331
23                   Indiana   3015
24                 Wisconsin   3001
25                  Kentucky   2580
26                 Louisiana   2090
27            South Carolina   2066
28               Connecticut   1982
29                      Utah   1692
30                    Kansas   1674
31                   Alabama   1670
32                  Oklahoma   1558
33                      Iowa   1373
34                    Hawaii   1305
35                   Vermont   1124
36                  Arkansas   1052
37               Puerto Rico    962
38                     Idaho    949
39                New Mexico    894
40                  Nebraska    756
41                    Alaska    706
42                     Maine    678
43             West Virginia    641
44             New Hampshire    615
45              North Dakota    561
46                  Delaware    507
47               Mississippi    496
48                   Wyoming    491
49              Rhode Island    477
50                   Montana    444
51              South Dakota    133
52                      None     26
53                      Guam      9
54  Northern Mariana Islands      1

In [173]:
df_tweets= df_tweets.na.fill("NA")

In [174]:
df_tweets.count()

1682732

In [175]:
df_time.count()

1682732

In [178]:
df_intermediate_tweets= df_tweets.join(df_time, (df_tweets.tweet_staging_time == df_time.tweet_time)).dropDuplicates()

In [179]:
df_intermediate_tweets.count()

1663358

In [180]:
df_intermediate_tweets.printSchema()

root
 |-- created_at: string (nullable = false)
 |-- tweet_id: double (nullable = true)
 |-- tweet: string (nullable = false)
 |-- likes: float (nullable = true)
 |-- retweet_count: float (nullable = true)
 |-- source: string (nullable = false)
 |-- user_id: double (nullable = true)
 |-- user_name: string (nullable = false)
 |-- user_screen_name: string (nullable = false)
 |-- user_description: string (nullable = false)
 |-- user_join_date: string (nullable = false)
 |-- user_followers_count: double (nullable = true)
 |-- user_location: string (nullable = false)
 |-- lat: float (nullable = true)
 |-- long: float (nullable = true)
 |-- city: string (nullable = false)
 |-- country: string (nullable = false)
 |-- continent: string (nullable = false)
 |-- state: string (nullable = false)
 |-- state_code: string (nullable = false)
 |-- hashtag_type: string (nullable = false)
 |-- tweet_staging_time: timestamp (nullable = true)
 |-- tweet_time: timestamp (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- weekday: integer (nullable = true)

In [181]:
To_load= ["tweet_time as tweet_time", "tweet_id as tweetId", "user_id as UserId", "tweet as tweet", "user_location as tweet_location", "week as week"]

In [155]:
df_tweets.count()

6270660

In [182]:
df_tweet_details= df_intermediate_tweets.selectExpr(To_load).withColumn('Id', monotonically_increasing_id())

In [183]:
df_tweet_details.printSchema()

root
 |-- tweet_time: timestamp (nullable = true)
 |-- tweetId: double (nullable = true)
 |-- UserId: double (nullable = true)
 |-- tweet: string (nullable = false)
 |-- tweet_location: string (nullable = false)
 |-- week: integer (nullable = true)
 |-- Id: long (nullable = false)

In [184]:
df_tweet_details.count()

1663358

In [185]:
df_tweet_details.limit(10).toPandas()

,tweet_time,tweetId,UserId,tweet,tweet_location,week,Id
0,2020-10-15 00:05:50,1.316531e+18,5.182709e+07,Vice President #Biden is 77 years young.\nI am...,"San Diego, CA USA",42,0
1,2020-10-15 00:05:50,1.316531e+18,7.615802e+17,@JoeBiden #BidenHarris2020 #DonaldTrump #Hunte...,"Fitchburg, WI",42,1
2,2020-10-15 00:06:49,1.316531e+18,7.005492e+17,Kpop fans please unite and stream Biden‚Äôs Town...,NA,42,2
3,2020-10-15 00:06:49,1.316531e+18,3.354807e+08,#JoniErnst #KristiNoem #MitchMcConnell 4 Ds #M...,NA,42,3
4,2020-10-15 00:06:49,1.316531e+18,2.336564e+07,#Cube is a #trump tool!!!! How his legacy will...,"Savannah, GA",42,4
5,2020-10-15 00:34:39,1.316538e+18,1.245436e+18,@TrumpLadyFran Besides being election interfer...,NA,42,5
6,2020-10-15 00:38:30,1.316539e+18,1.299111e+18,Scientific journal 'Nature' endorses Biden #Biden,"Boynton Beach, FL",42,6
7,2020-10-15 00:56:58,1.316544e+18,1.723393e+09,"Why are #Democrats ALLLLL of the sudden, \n\nW...",NA,42,7
8,2020-10-15 01:04:06,1.316545e+18,2.355506e+07,Early voted for @JoeBiden today and can‚Äôt wait...,"Houston, TX",42,8
9,2020-10-15 01:07:44,1.316546e+18,1.086358e+18,@kathygriffin #NewYorkPost #BurismaBribedBiden...,NA,42,9

In [189]:
df_tweet_details.write.partitionBy("week").parquet('Twitter_Data/output')